<div  class="container">
  <script type="text/ng-template" id="nuevoProductoModalContent.html">
    <form class="modal-body" role="form" name="productosForm">
      <div class="form-group" ng-class="{'has-error': productosForm.nombre.$invalid, 'has-success': productosForm.nombre.$valid}">
        <label for="inputNombre">Nombre</label>
        <input id="inputNombre" type="text" class="form-control" placeholder="Nombre" name="nombre" ng-model="producto.nombre" required>
      </div>
      <div class="form-group" ng-class="{'has-error': productosForm.precio.$invalid, 'has-success': productosForm.precio.$valid}">
        <label for="inputNombre">Precio</label>
        <input id="inputPrecio" type="number" class="form-control" placeholder="Precio" name="precio" ng-model="producto.precio" required>
      </div>
      <button type="submit" class="btn btn-success" ng-disabled="productosForm.$invalid" ng-click="guardar()">Guardar</button>
      <button type="button" class="btn" ng-click="cancelar()">Cancelar</button>
    </form>
  </script>
    <script type="text/ng-template" id="eliminarProductoModalContent.html">
      <div class="modal-header">
        <h3 class="modal-title">Eliminar producto</h3>
      </div>
      <div class="modal-body">
        <p>¿Estás seguro de querer borrar el producto?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="ok()">Ok</button>
        <button class="btn" type="button" ng-click="cancelar()">Cancelar</button>
      </div>
  </script>
  <h1>Productos</h1>
  <hr>
  <div class="panel panel-primary">
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Imagen</th>
          <th>Precio</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="producto in productos">
          <td>{{producto.nombre}}</td>
          <td>{{producto.imagen}}</td>
          <td>{{producto.precio}}</td>
          <td><a class="btn" href="" ng-click="prepararEdicionProducto(producto)"><i class="glyphicon glyphicon-edit"></i></a></i></td>
          <td><a class="btn" href="" ng-click="prepararEliminarProducto(producto)"><i class="glyphicon glyphicon-trash"></i></a></i></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button class="btn btn-primary pull-right" ng-click="prepararNuevoProducto()">Nuevo producto</button>
</div>