<div  class="container">
  <script type="text/ng-template" id="nuevoProductoModalContent.html">
    <form class="modal-body" role="form" name="productosForm" autocomplete="off">
      <div class="form-group" ng-class="{'has-error': productosForm.nombre.$invalid, 'has-success': productosForm.nombre.$valid}">
        <label for="inputNombre">Nombre</label>
        <input id="inputNombre" type="text" class="form-control" placeholder="Nombre" name="nombre" ng-model="nombre" maxlength="150" required>
      </div>
      <div class="form-group" ng-class="{'has-error': productosForm.precio.$invalid, 'has-success': productosForm.precio.$valid}">
        <label for="inputPrecio">Precio</label>
        <input id="inputPrecio" type="number" class="form-control" placeholder="Precio" name="precio" ng-model="precio" required>
      </div>
      <div class="form-group">
        <label for="inputReferencia">Referencia</label>
        <input id="inputReferencia" type="text" class="form-control" placeholder="Referencia" name="referencia" ng-model="referencia" maxlength="20" required>
      </div>
      <div class="form-group">
        <label for="inputCaracteristicas">Características</label>
        <textarea id="inputCaracteristicas" rows="3" class="form-control" placeholder="Características" name="caracteristicas" maxlength="600" ng-model="caracteristicas"></textarea>
      </div>
      <button type="submit" class="btn btn-success" ng-disabled="productosForm.$invalid" ng-click="guardar()">Guardar</button>
      <button type="button" class="btn" ng-click="cancelar()">Cancelar</button>
    </form>
  </script>
    <script type="text/ng-template" id="eliminarProductoModalContent.html">
      <div class="modal-header">
        <h3 class="modal-title">Eliminar producto</h3>
      </div>
      <div class="modal-body">
        <p>¿Estás seguro de querer borrar el producto?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="ok()">Ok</button>
        <button class="btn" type="button" ng-click="cancelar()">Cancelar</button>
      </div>
  </script>
  <h1>Productos</h1>
  <hr>
  <div class="panel panel-primary">
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Caracteristicas</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="producto in productos">
            <td class="col-xs-1 col-sm-1"><img ng-src="{{producto.imagenUrl}}" alt="Imagen" ></td>
            <td class="col-xs-4 col-sm-3">{{producto.nombre}}</td>
            <td class="col-xs-1 col-sm-1">{{producto.precio}}</td>
            <td class="col-xs-4 col-sm-4">{{producto.caracteristicas}}</td>
            <td class="col-xs-1 col-sm-1"><a class="btn" href="" ng-click="prepararEdicionProducto(producto)"><i class="glyphicon glyphicon-edit"></i></a></td>
            <td class="col-xs-1 col-sm-1"><a class="btn" href="" ng-click="prepararEliminarProducto(producto)"><i class="glyphicon glyphicon-trash"></i></a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel-footer text-center">
      <uib-pagination total-items="totalItems" items-per-page="5" ng-model="currentPage" max-size="5" class="pagination-sm" boundary-links="true" ng-change="cambioPaginador()" force-ellipses="true" next-text="Siguiente" previous-text="Anterior" last-text="Último" first-text="Primero"></uib-pagination>
    </div>
  </div>
  <button class="btn btn-primary pull-right" ng-click="prepararNuevoProducto()">Nuevo producto</button>
</div>