<div class="container">
    <script type="text/ng-template" id="nuevaVentaModalContent.html">
        <form class="modal-body" role="form" name="ventasForm">
            <div class="form-inline">
                <div class="form-group" ng-class="{'has-error': ventasForm.cliente.$invalid, 'has-success': ventasForm.cliente.$valid}">
                    <label for="inputCliente">Cliente</label>
                    <input id="inputCliente" type="text" ng-model="venta.cliente" placeholder="Cliente" name="cliente" uib-typeahead="cliente.nif for cliente in obtenerClientes($viewValue)" typeahead-loading="cargandoClientes" typeahead-no-results="noResultados" class="form-control" typeahead-on-select="onSelect($item, $model, $label)" required>
                    <i ng-show="cargandoClientes" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noResultados">
                        <i class="glyphicon glyphicon-remove"></i> No hay resultados encontrados
                    </div>
                </div>
                <div class="form-group" ng-class="has-success">
                    <label for="inputFecha">Fecha</label>
                    <p class="input-group">
                        <input id="inputFecha" type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="dt" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Cerrar" clear-text="Limpiar" current-text="Hoy" alt-input-formats="altInputFormats" format-day-header="EEE" format-day-title="MM/yyyy" show-weeks="false" format-month="MM"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
            <hr>
            <div class="panel panel-primary">
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Id detalle</th>
                            <th>Nombre producto</th>
                            <th>Precio producto</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="detalleVenta in detalles">
                            <td>{{detalleVenta.detalleVentaId}}</td>
                            <td>{{detalleVenta.producto.nombre}}</td>
                            <td>{{detalleVenta.cantidad}}</td>
                            <td><a class="btn" href="" ng-click="prepararEliminarDetalleVenta(detalleVenta)"><i class="glyphicon glyphicon-trash"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success" ng-disabled="clientesForm.$invalid" ng-click="guardar()">Guardar</button>
            <button type="button" class="btn" ng-click="cancelar()">Cancelar</button>
        </div>
    </script>
    <script type="text/ng-template" id="eliminarVentaModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Eliminar venta</h3>
        </div>
        <div class="modal-body">
            <p>¿Estás seguro de querer borrar la venta?</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="button" ng-click="ok()">Ok</button>
            <button class="btn" type="button" ng-click="cancelar()">Cancelar</button>
        </div>
    </script>
    <h1>Ventas</h1>
    <hr>
    <div class="panel panel-primary">
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id venta</th>
                    <th>NIF cliente</th>
                    <th>Nombre cliente</th>
                    <th>Fecha</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="venta in ventas">
                    <td>{{venta.ventaId}}</td>
                    <td>{{venta.cliente.nif}}</td>
                    <td>{{venta.cliente.nombre}} {{venta.cliente.apellido1}} {{venta.cliente.apellido2}}</td>
                    <td>{{venta.fechaVenta | date:'dd/MM/yyyy'}}</td>
                    <td><a class="btn" href="" ng-click="prepararEdicionVenta(venta)"><i class="glyphicon glyphicon-edit"></i></a></td>
                    <td><a class="btn" href="" ng-click="prepararEliminarVenta(venta)"><i class="glyphicon glyphicon-trash"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button class="btn btn-primary pull-right" ng-click="prepararNuevaVenta()">Nueva venta</button>
</div>