<div class="container">
    <script type="text/ng-template" id="nuevaVentaModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Venta</h3>
        </div>
        <form class="modal-body" role="form" name="ventasForm">
            <h4>Datos</h4>
            <br>
            <div class="form-group" ng-class="{'has-error': !clienteSeleccionada, 'has-success': clienteSeleccionada}">
                <label for="inputCliente">Cliente</label>
                <select id="inputCliente" class="form-control" name="cliente" ng-model="cliente" ng-options="c as c.nombreCompleto for c in clientes track by c.clienteId" required ng-change="onSelectCliente()"></select>
            </div>
            <div class="form-group" ng-class="{'has-error': ventasForm.fecha.$invalid, 'has-success': ventasForm.fecha.$valid}">
                <label for="inputFecha">Fecha</label>
                <p class="input-group">
                    <input id="inputFecha" type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="fechaVenta" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Cerrar" clear-text="Limpiar" current-text="Hoy" alt-input-formats="altInputFormats" format-day-header="EEE" format-day-title="MM/yyyy" show-weeks="false" format-month="MM" name="fecha" readonly required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <hr>
            <h4>Detalles</h4>
            <br>
            <div class="form-group" ng-class="{'has-error': !productoSeleccionado, 'has-success': productoSeleccionado}">
                <label for="inputProducto">Producto</label>
                <select id="inputProducto" class="form-control" name="producto" ng-model="producto" ng-options="p as p.nombreCompleto for p in productos track by p.productoId" required ng-change="onSelectProducto()"></select>
            </div>
            <div class="form-group">
                <label for="inputCantidad">Cantidad</label>
                <input id="inputCantidad" type="number" class="form-control" placeholder="Cantidad" name="cantidad" ng-model="cantidad" ng-change="onSelectCantidad()">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success" ng-disabled="(!productoSeleccionado || !cantidadSeleccionada)" ng-click="guardarDetalle()">Añadir detalle</button>
            </div>
            <div class="form-group">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="table-responsive">

                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Nombre producto</th>
                                    <th>Cantidad producto</th>
                                    <th>Precio unidad</th>
                                    <th>Precio total</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="detalleVenta in detalles">
                                    <td>{{detalleVenta.producto.nombreCompleto}}</td>
                                    <td>{{detalleVenta.cantidad}}</td>
                                    <td>{{detalleVenta.producto.precio}}</td>
                                    <td>{{detalleVenta.producto.precio * detalleVenta.cantidad}}</td>
                                    <td><a class="btn" href="" ng-click="prepararEliminarDetalleVenta(detalleVenta)"><i class="glyphicon glyphicon-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>Total</td>
                                    <td>{{totalPrecio | number:2}}</td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success" ng-disabled="(clientesForm.$invalid || !clienteSeleccionada)" ng-click="guardar()">Guardar</button>
            <button type="button" class="btn" ng-click="cancelar()">Cancelar</button>
        </div>
    </script>
    <script type="text/ng-template" id="eliminarVentaModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Eliminar venta</h3>
        </div>
        <div class="modal-body">
            <p>¿Estás seguro de querer borrar la venta?</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="button" ng-click="ok()">Ok</button>
            <button class="btn" type="button" ng-click="cancelar()">Cancelar</button>
        </div>
    </script>
    <script type="text/ng-template" id="eliminarDetalleModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Eliminar detalle</h3>
        </div>
        <div class="modal-body">
            <p>¿Estás seguro de querer borrar el detalle?</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="button" ng-click="ok()">Ok</button>
            <button class="btn" type="button" ng-click="cancelar()">Cancelar</button>
        </div>
    </script>
    <h1>Ventas</h1>
    <hr>
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id venta</th>
                        <th>NIF cliente</th>
                        <th>Nombre cliente</th>
                        <th>Fecha</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="venta in ventas">
                        <td>{{venta.ventaId}}</td>
                        <td>{{venta.cliente.nif}}</td>
                        <td>{{venta.cliente.nombre}} {{venta.cliente.apellido1}} {{venta.cliente.apellido2}}</td>
                        <td>{{venta.fechaVenta | date:'dd/MM/yyyy'}}</td>
                        <td><a class="btn" href="" ng-click="prepararEdicionVenta(venta)"><i class="glyphicon glyphicon-edit"></i></a></td>
                        <td><a class="btn" href="" ng-click="prepararEliminarVenta(venta)"><i class="glyphicon glyphicon-trash"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer text-center">
            <uib-pagination total-items="totalItems" items-per-page="5" ng-model="currentPage" max-size="5" class="pagination-sm" boundary-links="true" ng-change="cambioPaginador()" force-ellipses="true" next-text="Siguiente" previous-text="Anterior" last-text="Último" first-text="Primero"></uib-pagination>
        </div>
    </div>
    <button class="btn btn-primary pull-right" ng-click="prepararNuevaVenta()">Nueva venta</button>
</div>